<%= form_for(@corpse) do |f| %>
  <% if @corpse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@corpse.errors.count, "error") %> prohibited this corpse from being saved:</h2>

      <ul>
      <% @corpse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :head %><br />
    <%= f.text_field :head %>
  </div>
  <div class="field">
    <%= f.label :torso %><br />
    <%= f.text_field :torso %>
  </div>
  <div class="field">
    <%= f.label :legs %><br />
    <%= f.text_field :legs %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
