<h1>Draw Body Parts or else</h1>

<table>
  <tr>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @body_parts.each do |body_part| %>
  <tr>
    <td><img src="<%= body_part.image %>" /></td>
    <td><%= link_to 'Show', body_part %></td>
    <td><%= link_to 'Edit', edit_body_part_path(body_part) %></td>
    <td><%= link_to 'Destroy', body_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Body part', new_body_part_path %>
