<!DOCTYPE html>
<html>
<head>
  <title>ExquisiteCorpse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<!--<body class="<%= controller_name %> <%= action_name %>">-->
<body>
	<div class="row">
		<div class="span4 <%= controller_name %> <%= action_name %>"></div>
		<div class="span4" id="drawings_target"></div>
	</div>



<%= yield %>


</body>
</html>
